@import "../utilities/variables.scss";

.main-content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;

  // Estilos de subcontenedor del main
  &__input-section {
    width: 90%;
    height: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
  }

  // Estilos generales del contenedor del textarea
  &__text-input-article {
    width: 80%;
    margin-top: 3rem;
    margin-left: 8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  // Estilos del textarea
  &__text-input {
    width: 100%;
    height: 90%;
    background-color: $background-dark;
    border: 0.2rem solid $accent-color;
    border-radius: 1rem;
    color: $accent-color;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: $good-font;

    &::placeholder {
      color: $accent-color;
    }
  }

  // Estilos del subcontenedor de los botones
  &__button-article {
    width: 75%;
    height: 10%;
    margin-top: 1.5rem;
    margin-left: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  // Estilos de los botones
  // Estilos del los 2 botones
  &__button {
    width: 48%;
    height: 3rem;
    margin: 0.5rem auto;
    border: 0.2rem solid $accent-color;
    border-radius: 0.8rem;
    font-family: $good-font;
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 0.3s ease;

    // Efecto de sombra
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra suave

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); // Sombra más pronunciada en hover
    }
  }

  // Estilos del botón para encriptar
  &__button--encrypt {
    background-color: $secondary-color;
    font-family: $good-font;
    font-weight: bold;
    color: $text-color-primary;
  }

  // Estilos del botón para desencriptar
  &__button--decrypt {
    background-color: $text-color-darck-primary;
  }

  @media (max-width: 1000px) {
    &__input-section {
      width: 100%;
    }

    &__text-input-article {
      width: 100%;
    }

    &__button-article {
      width: 100%;
    }
    &__text-input-article {
      width: 100%;
      height: 10rem;
    }
    &__button-article {
      width: 95%;

      align-items: center;
      align-content: center;
    }
  }
}
