// Paleta de colores principales
$primary-color: #070123; // Purple primario
$secondary-color: #00c3f1; // grey secundario
$accent-color: #00c859; // Naranja de acento
$accent-color-btn: #e0e0e0; // Naranja de acento

// Colores de texto
$text-color-primary: #e2dfd0; // primer color texto
$text-color-secondary: #e0e0e0; // segundo color texto
$text-color-darck-primary: #afb1b0; // color oscuro texto
$text-color-darck-secondary: #524c42; // segundo color oscuro texto
// Colores de fondo
$background-color: #0065c6; // Color de fondo principal
$background-dark: #02033c; // Color de fondo oscuro
$good-font: "Montserrat", sans-serif;
